[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule ".vim/bundle/easybuffer"]
	path = .vim/bundle/easybuffer
	url = git@github.com:troydm/easybuffer.vim.git
[submodule ".vim/bundle/easymotion"]
	path = .vim/bundle/easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/emblem"]
	path = .vim/bundle/emblem
	url = git@github.com:heartsentwined/vim-emblem.git
[submodule ".vim/bundle/emmet"]
	path = .vim/bundle/emmet
	url = git@github.com:mattn/emmet-vim.git
[submodule ".vim/bundle/flake8"]
	path = .vim/bundle/flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/gitgutter"]
	path = .vim/bundle/gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule ".vim/bundle/mustache-handlebars"]
	path = .vim/bundle/mustache-handlebars
	url = git@github.com:mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/html5"]
	path = .vim/bundle/html5
	url = git@github.com:othree/html5.vim.git
[submodule ".vim/bundle/indent-guides"]
	path = .vim/bundle/indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/javascript"]
	path = .vim/bundle/javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule ".vim/bundle/multiple-cursors"]
	path = .vim/bundle/multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/python-syntax"]
	path = .vim/bundle/python-syntax
	url = git@github.com:hdima/python-syntax.git
[submodule ".vim/bundle/sensible"]
	path = .vim/bundle/sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule ".vim/bundle/snippets"]
	path = .vim/bundle/snippets
	url = git@github.com:honza/vim-snippets.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/bundle/template"]
	path = .vim/bundle/template
	url = git@github.com:aperezdc/vim-template.git
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = git@github.com:vim-scripts/tlib.git
[submodule ".vim/bundle/addon-mw-utils"]
	path = .vim/bundle/addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/lexical"]
	path = .vim/bundle/lexical
	url = git@github.com:reedes/vim-lexical.git
[submodule ".vim/bundle/jade"]
	path = .vim/bundle/jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".vim/bundle/ember-script"]
	path = .vim/bundle/ember-script
	url = git@github.com:heartsentwined/vim-ember-script.git
[submodule ".vim/bundle/less"]
	path = .vim/bundle/less
	url = git@github.com:groenewege/vim-less.git
[submodule ".vim/bundle/rust"]
	path = .vim/bundle/rust
	url = git@github.com:wting/rust.vim.git
[submodule ".vim/bundle/protobuf"]
	path = .vim/bundle/protobuf
	url = git@github.com:uarun/vim-protobuf.git
[submodule ".vim/bundle/nginx"]
	path = .vim/bundle/nginx
	url = git@github.com:evanmiller/nginx-vim-syntax.git
[submodule ".vim/bundle/smali"]
	path = .vim/bundle/smali
	url = git@github.com:kelwin/vim-smali.git
[submodule ".vim/bundle/kivy"]
	path = .vim/bundle/kivy
	url = git@github.com:farfanoide/vim-kivy.git
[submodule ".vim/bundle/carthage"]
	path = .vim/bundle/carthage
	url = git@github.com:cfdrake/vim-carthage.git
[submodule ".vim/bundle/editorconfig"]
	path = .vim/bundle/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/indentline"]
	path = .vim/bundle/indentline
	url = git@github.com:Yggdroot/indentLine.git
[submodule ".vim/bundle/syntaxrange"]
	path = .vim/bundle/syntaxrange
	url = git@github.com:vim-scripts/SyntaxRange.git
[submodule ".vim/bundle/ingo-library"]
	path = .vim/bundle/ingo-library
	url = git@github.com:vim-scripts/ingo-library.git
[submodule ".vim/bundle/go"]
	path = .vim/bundle/go
	url = git@github.com:fatih/vim-go.git
[submodule ".vim/bundle/neocomplete"]
	path = .vim/bundle/neocomplete
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule ".vim/bundle/javacomplete2"]
	path = .vim/bundle/javacomplete2
	url = git@github.com:artur-shaik/vim-javacomplete2.git
[submodule ".vim/bundle/maven-plugin"]
	path = .vim/bundle/maven-plugin
	url = git@github.com:mikelue/vim-maven-plugin.git
[submodule ".vim/bundle/gradle"]
	path = .vim/bundle/gradle
	url = git@github.com:tfnico/vim-gradle.git
[submodule ".vim/bundle/autoclose"]
	path = .vim/bundle/autoclose
	url = git@github.com:Townk/vim-autoclose.git
[submodule ".vim/bundle/base16"]
	path = .vim/bundle/base16
	url = git@github.com:chriskempson/base16-vim.git
[submodule ".vim/bundle/ember"]
	path = .vim/bundle/ember
	url = git@github.com:dsawardekar/ember.vim.git
[submodule ".vim/bundle/wiki"]
	path = .vim/bundle/wiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/vitality"]
	path = .vim/bundle/vitality
	url = git@github.com:sjl/vitality.vim.git
[submodule ".vim/bundle/kite"]
	path = .vim/bundle/kite
	url = git@github.com:kiteco/vim-plugin.git
